<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dashin">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".mess_cart"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity android:name=".mess_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".IntroActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".OptionsActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".BookingScreen"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".RestaurantContact"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".RestaurantActivity"
            android:screenOrientation="fullSensor"></activity>
        <activity
            android:name=".RestaurantNavigation"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".PaymentModule.PaymentScreen"
            android:screenOrientation="fullSensor" />
        <activity android:name=".PaymentModule.checksum" />
    </application>

</manifest>